/* @group Main */

* {
	margin: 0;
	padding: 0;
	line-height: 1;
	cursor: default;
}

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	font: 11px/1 Lucida Grande, Arial;
	background-color: #eee;
}

#snippets, #meta, #tags, #footer {
	-webkit-user-select:none;
}

/* @end */

/* @group Tags */

#tags {
	top: 0;
	left: 0;
	bottom: 22px;
	width: 200px;
	position: fixed;
	border-right: 1px solid #a5a5a5;
}

#tags-wrap {
	height: 100%;
	overflow: hidden;
}

#tags-pad {
	
}

#blur #tags {
	background-color: #e8e8e8;
}

#focus #tags {
	background-color: #d5dde6;
}

#tags h3 {
	padding: 0 12px;
	margin: 8px 0 6px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#blur  #tags h3 {
	color: #606060;
}

#focus #tags h3 {
	color: #58697a;
}

#tags li {
	color: #222;
	font-size: 11px;
	line-height: 11px;
	padding: 4px 6px 5px 25px;
}

#tags li.selected {
	color: #fff;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

#blur  #tags li.selected {
	background-image: url(../images/selected-blur.png);
}

#focus #tags li.selected {
	background-image: url(../images/selected-focus.png);
}

/* @end */

/* @group Footer */

#footer {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 22px;
	position: absolute;
	border-top: 1px solid #cacaca;
	background: #fff url(../images/footer-normal.png) repeat-x top left;
	border-right: 1px solid #a5a5a5;
}

#footer div {
	height: 22px;
	background-repeat: no-repeat;
	background-position: center top;
}

#footer div.button {
	width: 28px;
	float: left;
}

#footer div.active {
	background-position: center bottom;
}

#button-add    {
	background-image: url(../images/button-add.png);
}

#button-action {
	background-image: url(../images/button-remove.png);
}

#left-resizer {
	float: right;
	width: 17px;
	background-image: url(../images/button-splitter.png);
}

/* @end */

/* @group Snippets */

#snippets {
	top: 0;
	right: 0;
	height: 100px;
	position: fixed;
	background-color: #fff;
}

#snippets-wrap {
	height: 100%;
	overflow: hidden;
}

/*#snippets-pad {
	padding-right: 15px;
}*/

#snippets li {
	padding: 4px 20px;
	background-color: #fff;
}

#snippets li.odd {
	background: #f5f5f5;
}

#focus #snippets li.selected {
	color: #fff;
	background-color: #637282;
}

#blur #snippets li.selected {
	color: #fff;
	background-color: #828282;
}

#top-resizer {
	height: 5px;
	right: 0;
	position: absolute;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background:
		url(../images/content-resizer-ball.png) center center no-repeat,
		url(../images/content-resizer-bg.png) left center repeat-x;
}

/* @end */

/* @group Content */

#content {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 12px;
}

#content-wrap {
	height: 100%;
	overflow: hidden;
}

#content-pad {
	padding: 10px;
}

#content h1 {
	color: #222;
	font-size: 20px;
	font-family: Helvetica;
	padding-bottom: 10px;
	border-bottom: 1px dotted #bbb;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#content div.description {
	font-size: 12px;
	margin: 10px 0;
	line-height: 1.6;
	padding-bottom: 10px;
	border-bottom: 1px dotted #bbb;
}

div.snippet {
	position: relative;
	margin: 10px 0;
	padding: 6px 10px;
	border: 1px solid #bbb;
	-webkit-border-radius: 6px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	background: #fff url(../images/grad.png) bottom left repeat-x;
}

div.snippet.editing {
	border: 1px solid #4792e5;
	background: #f8fafb;
}

div.info {
	color: #888;
	font-size: 9px;
	margin-bottom: 6px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}

div.note {
	font-size: 11px;
	line-height: 1.6;
	margin: 10px 0;
	padding: 6px 10px;
	border: 1px solid #ddd;
	-webkit-border-radius: 6px;
}

div.snippet.code, div.snippet div.info {
	font-family: "Andale Mono", "Monaco", Courier;
}

div.code.snippet div.contents {
	white-space: pre;
	overflow: hidden;
	cursor:text;
}

div.contents {
	line-height: 1.4;
	outline: none;
}

/* @end */

/* @group Meta */

#meta {
	position: absolute;
	right: 0;
	background: url(../images/grad.png) repeat-x left;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #e8eaed;
	padding: 3px 8px;
}

#focus #meta {
	background-color: #D5DDE6;
}

#blur #meta {
	background-color: #e5e5e5;
}

#meta .button {
	height: 11px;
	width: 84px;
	display: block;
	float: left;
	text-align: center;
	padding: 3px 0;
	font-size: 9px;
	color: #333;
	background: url(../images/pill.png) no-repeat bottom left;
	margin-right: 5px;
}

#meta .button.active {
	background-position: top left;
}

/* @end */

/* @group ART Scrollbar */

.art-scrollbar {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 15px;
}

.art-scrollbar-track {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background:
		url(../images/track-bottom.png) bottom left no-repeat,
		url(../images/track-top.png) top left no-repeat,
		url(../images/track-center.png) top left repeat-y;
}

.art-scrollbar-thumb {
	position: absolute;
	width: 100%;
}

.art-scrollbar-paint-top {
	height: 15px;
	width: 15px;
	background: url(../images/thumb-top.png) bottom left no-repeat;
}

.art-scrollbar-paint-center {
	width: 15px;
	background: url(../images/thumb-center.png) top left repeat-y;
}

.art-scrollbar-paint-bottom {
	height: 15px;
	width: 15px;
	background: url(../images/thumb-bottom.png) top left no-repeat;
}

#blur .art-scrollbar-paint-bottom {
	background-image: url(../images/thumb-bottom-blur.png);
}

#blur .art-scrollbar-paint-top {
	background-image: url(../images/thumb-top-blur.png);
}

#blur .art-scrollbar-paint-center {
	background-image: url(../images/thumb-center-blur.png);
}

/* @end */
